* {
  box-sizing: border-box;
}

@keyframes bounceFade {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  20% {
    transform: translateY(-10px);
    opacity: 1;
  }
  50% {
    transform: translateY(0px);
    opacity: 1;
  }
  80% {
    transform: translateY(120px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(70px);
    opacity: 0;
  }
}

// ------ANIMATION-------
.formPage {
  display: flex;
}

.submitButton {
  margin-top: 1em;
  background-color: green;
}

.title {
  color: white;
  font-size: 1.2em;
}

.content {
  width: 25em;
  height: 10em;
  font-size: 2em;
  align-self: center;
  color: black;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.popUpMessage {
  text-align: center;
  width: 10em;
  height: fit-content;
  position: absolute;
  padding: 0.5em;
  background-color: rgba(6, 208, 6, 0.691);
  border-radius: 0.5em;
  bottom: 5%;
  right: 1%;
  color: white;
  z-index: 100;
  animation: bounceFade 4s ease-in-out forwards;
}
.popUpMessageNeg {
  width: 10em;
  height: fit-content;
  width: fit-content;
  position: absolute;
  padding: 0.5em;
  background-color: rgba(208, 6, 6, 0.691);
  border-radius: 0.5em;
  z-index: 100;
  bottom: 5%;
  right: 1%;
  color: white;
  animation: bounceFade 4s ease-in-out forwards;
}

.br {
  height: 24px;
  width: 100%;
}
