.loginPage {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.loginContainer {
  display: flex;
  background-color: #547792;
  border: 2px solid #ecefca;
  width: 40em;
  height: 30em;
}
