.Wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
}

// ----------

.recentContainer {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  gap: 1em;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.308);
  overflow: scroll;
  padding-bottom: 3em;
}

.recentContainer::-webkit-scrollbar {
  width: 0.4em;
  margin-left: 2em;
}

.recentContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}

.profileContainer {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  gap: 1em;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.308);
  flex-direction: column;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.523);
  border-radius: 1em 4em;
}

.searcharea {
  width: 12em;
  height: 3em;
  background-color: white;
  color: black;
  border-radius: 1em;
  border: none;
  margin-top: 2em;
  text-align: center;
}

.profileImg {
  width: 8em;
  background-color: grey;
  border-radius: 100%;
  padding: 1em;
}

.allnotes {
  position: absolute;
  width: fit-content;
  height: fit-content;

  & p {
    position: absolute;
    width: fit-content;
    height: fit-content;
  }
}

.recentNotes {
  flex: 0 0 calc(33.33% - 1em); // ✅ exactly 3 per row
  max-width: calc(33.33% - 1em);
  border: 1px solid black;
  border-radius: 1em;
}

.notesContainer {
  display: flex;
  gap: 1em;
  height: 12em;
  justify-content: center;
  flex-wrap: wrap;
}

.titleContainer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  height: 2em;
  align-items: center;
  overflow: hidden;
  button {
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    padding-block: 0px;
    padding-inline: 0px;
  }
}

.contentContainer {
  display: flex;
  margin-left: 0.3em;
  border-radius: 1em;
}

.content {
  color: black;
  overflow-y: auto;
  word-break: break-word;
  white-space: normal;
  padding-right: 0.5em;
}

.content::-webkit-scrollbar {
  width: 0.4em;
  margin-left: 2em;
}

.content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}
