.Wrapper {
  display: flex;
}

// ----------

.recentContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
  background-color: orange;
  height: 56em;
  width: 50%;
  overflow: auto;
}

.allnotes {
  position: absolute;
  width: fit-content;
  height: fit-content;

  & p {
    position: absolute;
    width: fit-content;
    height: fit-content;
  }
}

.recentNotes {
  flex: 0 0 calc(33.33% - 1em); // ✅ exactly 3 per row
  max-width: calc(33.33% - 1em);
  border: 1px solid black;
  border-radius: 1em;
}

.titleContainer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  height: 2em;
  align-items: center;
  overflow: hidden;
  button {
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    padding-block: 0px;
    padding-inline: 0px;
  }
}

.contentContainer {
  display: flex;
  height: 100%;
  margin-left: 0.3em;
  border-radius: 1em;
}

.content {
  color: black;
  overflow-y: auto;
  word-break: break-word;
  white-space: normal;
  padding-right: 0.5em;
  // text-overflow: ellipsis;
  // display: -webkit-box;
  // -webkit-line-clamp: 4;
  // -webkit-box-orient: vertical;
}

.content::-webkit-scrollbar {
  width: 0.4em;
  margin-left: 2em;
}

.content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}
