.recentContainer {
  display: flex;
  align-items: center;
  gap: 0.3em;
  transition: 2s;
}

.recentNotes {
  width: 13em;
  border: 1px solid rgba(0, 0, 0, 0.296);
  border-radius: 1em;
  overflow: hidden;
  height: 100%;
  box-shadow: 3px 3px 5px #00000063;
}

.edit {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.editInput {
  text-align: center;
  width: 100%;
  height: 2em;
  font-family: inherit;
  font-size: 1em;
  border: none;
  background-color: #00000015;
  color: #000000;
}

.editTextarea {
  text-align: center;
  width: 100%;
  height: 55%;
  font-family: inherit;
  font-size: 1em;
  border: none;
  background-color: #ffffff00;
  color: #000000;
}

.yes {
  background-color: rgb(17, 184, 17);
}

.no {
  background-color: red;
}

.editTextarea {
  resize: vertical;
  min-height: 5em;
}

.titleContainer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  height: 2em;
  button {
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    //   padding-block: 0px;
    //   padding-inline: 0px;
    //   position: relative;
    //   align-self: flex-start;
    //   top: 8%;
    //   right: -10%;
  }
}

// .bin {
//   align-self: flex-end;
//   position: absolute;
// }

.contentContainer {
  display: flex;
  margin-left: 0.3em;
  border-radius: 1em;
}

.content {
  color: black;
  overflow-y: auto;
  word-break: break-word;
  white-space: normal;
  padding-right: 0.5em;
  // text-overflow: ellipsis;
  // display: -webkit-box;
  // -webkit-line-clamp: 4;
  // -webkit-box-orient: vertical;
}

.content::-webkit-scrollbar {
  width: 0.4em;
  margin-left: 2em;
}

.content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}
