.regForm {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: #26b46b;
  width: 100%;
  align-items: center;
  border-right: 1px solid #ecefca;

  & input {
    width: 80%;
    height: 2.5em;
    text-align: center;
  }
}

.btnSubmit {
  margin-top: 3em;
  background-color: #94b4c1;
  width: 50%;
  color: #ecefca;
}

.icons {
  display: flex;
  gap: 1em;

  & button {
    background-color: #505050;
    padding: 0.3em 1em;

    & img {
      height: 2em;
    }
  }
}

.black {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: black;
}

.regSuccess {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50rem;
  height: 10rem;
  background-color: rgba(0, 255, 0, 0.837);
  padding: 2rem;
  top: 30%;
  font-size: 3em;
  border-radius: 2rem;
  border: 2px solid black;
}
