.registerPage {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.registerContainer {
  display: flex;
  background-color: #26b46b;
  border: 2px solid #ecefca;
  width: 30em;
  height: 40em;
  align-items: center;
}
